.preview {
    width: 50%;
    align-items: center;
    margin-bottom: 15px;
    &--titulo {
        margin: 0;
        line-height: 10px;
    }
    &--descripcion {
        width: auto;
    }
    &--image {
        width: 64px;
        height: 64px;
        margin-right: 10px;
        display: block;
    }
    &--wrap {
        display: flex;
        align-items: flex-start;
        margin: 0;
    }
    &__lista {
        margin: 10px 0 0 0;
        dt {
            float: left;
            margin-right: 5px;
            font-weight: 700;
        }
        dd {
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width: 720px) {
        width: 100%;
        flex-direction: column;
    }
}