@import '../../../style/variables';
@import 'progress';
$track-color: #eceff1;
$thumb-color: $color-brand;
.web-player {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 30px);
    background-color: #FFF;
    padding: 15px 15px;
    margin: 0;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.75);
    audio {
        display: none;
    }
    button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background-color: #000;
        cursor: pointer;
        color: $color-brand;
        font-size: 10px;
    }
    &--left {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        img {
            width: 64px;
            height: 64px;
            margin-right: 10px;
        }
        h4 {
            margin-top: 0;
            margin-bottom: 10px;
        }
        h5 {
            margin: 0;
        }
    }
    &--center {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        margin: 0 10px;
    }
    &__progress {
        width: 100%;
        max-width: 760px;
        margin: 0 10px;
        &[type='range'] {
            -webkit-appearance: none;
            width: $track-width;
            &:focus {
                outline: 0;
                &::-webkit-slider-runnable-track {
                    background: lighten($track-color, $contrast);
                }
                &::-ms-fill-lower {
                    background: $track-color;
                }
                &::-ms-fill-upper {
                    background: lighten($track-color, $contrast);
                }
            }
            &::-webkit-slider-runnable-track {
                @include track;
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
            }
            &::-webkit-slider-thumb {
                @include thumb;
                -webkit-appearance: none;
                margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
            }
            &::-moz-range-track {
                @include track;
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
            }
            &::-moz-range-thumb {
                @include thumb;
            }
            &::-ms-track {
                @include track;
                background: transparent;
                border-color: transparent;
                border-width: ($thumb-height / 2) 0;
                color: transparent;
            }
            &::-ms-fill-lower {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: darken($track-color, $contrast);
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius * 2;
            }
            &::-ms-fill-upper {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius * 2;
            }
            &::-ms-thumb {
                @include thumb;
                margin-top: 0;
            }
        }
        &-container {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
    }
    &--buttons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button:not(:last-child) {
            margin-right: .5em;
        }
    }
    &__volumen {
        &[type='range'] {
            -webkit-appearance: none;
            width: $track-width;
            &:focus {
                outline: 0;
                &::-webkit-slider-runnable-track {
                    background: lighten($track-color, $contrast);
                }
                &::-ms-fill-lower {
                    background: $track-color;
                }
                &::-ms-fill-upper {
                    background: lighten($track-color, $contrast);
                }
            }
            &::-webkit-slider-runnable-track {
                @include track;
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
            }
            &::-webkit-slider-thumb {
                @include thumb;
                -webkit-appearance: none;
                margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
            }
            &::-moz-range-track {
                @include track;
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
            }
            &::-moz-range-thumb {
                @include thumb;
            }
            &::-ms-track {
                @include track;
                background: transparent;
                border-color: transparent;
                border-width: ($thumb-height / 2) 0;
                color: transparent;
            }
            &::-ms-fill-lower {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: darken($track-color, $contrast);
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius * 2;
            }
            &::-ms-fill-upper {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius * 2;
            }
            &::-ms-thumb {
                @include thumb;
                margin-top: 0;
            }
        }
    }
    &__volumen-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and (max-width:992px) {
        &__volumen-container {
            max-width: 150px;
        }
    }
    @media screen and (max-width: 767px) {
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &--left,
        &--center,
        &__volumen-container {
            width: 100%;
        }
        &--left,
        &--center {
            margin-bottom: 10px;
        }
        &--left,
        &__volumen-container {
            max-width: 100%;
            justify-content: flex-start;
        }
    }
}