<main role="main" class="artista">
    <section class="container-fluid">
        <header class="artista--header">
            <app-logo></app-logo>
            <app-search placeholder="Search for another artist"></app-search>
        </header>
    </section>
    <section class="container">
        <figure class="artista--descripcion">
            <img class="img-responsive" ng-src="{{data.images[1].url}}" alt="">
            <figcaption>
                <h1>{{data.name}}</h1>
                <h2>{{data.artists[0].name}}</h2>
            </figcaption>
        </figure>
    </section>
    <section class="container">
        <breadcrumb items="[{url:'artist/'+data.artists[0].id,title:data.artists[0].name},{url:'javascript:void(0);',title:data.name}]"></breadcrumb>
    </section>
    <section class="container">
        <div class="favorite-songs--container">
            <article class="album">
                <header class="album--header">
                    <h2>Disc 1</h2>
                </header>
                <ul class="album--listado">
                    <li class="album__track flex flex--center" ng-repeat="track in tracks.items">
                        <h2 class="album__track--title" ng-click="reproducir(track)">{{track.name}}</h2>
                        <span class="album__track--start" tooltips tooltip-template="Add favorites" tooltip-side="right">
                            <i class="fa fa-star" aria-hidden="true" ></i>
                        </span>
                    </li>
                </ul>
            </article>
        </div>
    </section>
</main>