@import '../../style/variables.scss';
$bck-album-header:#505050;
$padding-album: 7px;
.album {
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 1em;
    }
    &--header {
        padding: $padding-album;
        background-color: $bck-album-header;
        h2 {
            color: #FFF;
            margin: 0;
        }
    }
    &--listado {
        padding-left: 0;
        margin: 0;
    }
}

.album__track {
    list-style: none;
    padding: 3px $padding-album;
    &:nth-child(odd) {
        background-color: lighten($bck-album-header, 20);
        color: #FFF;
    }
    &--title {
        cursor: pointer;
        font-size: 1em;
        margin: 0;
    }
    &--start {
        &.active {
            color: $color-brand;
        }
        &:hover {
            cursor: pointer;
        }
    }
}