figure {
    margin: 0;
}

main {
    padding: 0;
    margin-top: 50px;
    display: block;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-block {
    @include center-block;
}

.center-block-xs {
    @media screen and (max-width: 767px) {
        @include center-block;
    }
}

.container {
    @extend .center-block;
    width: 100%;
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    @extend .container;
    width: 100%;
}

.flex {
    display: flex;
}

.flex--center {
    justify-content: space-between;
    align-items: center;
}

.flex--top {
    align-content: flex-start;
}