main {
    padding: 0;
    margin-top: 50px;
    display: block;
}

.container {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}