 @import "../../../style/variables";
 .breadcrumb {
     padding-left: 0;
     >li {
         list-style: none;
         display: inline-block;
         vertical-align: middle;
         &:not(:first-child) {
             &:before {
                 content: '>';
                 margin: 0 .5em;
             }
         }
         >a {
             color: $color-brand;
             text-decoration: none;
         }
         &:last-child {
             >a {
                 color: #000;
                 cursor: default;
             }
         }
     }
 }